<h1>Say#hello</h1>
<p>Find me in app/views/say/hello.html.erb</p>


<h1>HELLO FROM RAILS</h1>

<p>
  It is now <%=Time.now%>
</p>

<p>
  It is now <%=@time%>
</p>


<p>
  2 + 2 = <%=2 + 2%>
</p>



<%= say_goodbye_path %>
  Say <%= link_to 'Goodbye', say_goodbye_path %>